<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="frm">
      <center>
        <h1 style="font-family:Apple SD Gothic Neo; color:#00334d;"> INTRUDER DETECTION SYSTEM </h1>
        <br>
        <h2 style="font-family:Apple SD Gothic Neo; color:#00334d;">Log in</h2>
  
        <form name="f1" action="/" method="POST">
          <!-- Email -->
          <p>
            <label style="font-family:Apple SD Gothic Neo"> </label>
            <input placeholder="Username" type="text" id="user" name="user" size="28" />
          </p>
          <!-- Password -->
          <p>
            <label style="font-family:Apple SD Gothic Neo"> </label>
            <input placeholder="Password" type="password" id="pass" name="pass" size="28" />
          </p>
          <!-- Login -->
          <p>
            <input type="submit" id="btn" value="Login" />
          </p>
      </center>
      </form>
    </div>
    <div>
      <center>
        <%= loginstatus %>
      </center>
    </div>
  </body>
</html>